{{#if checkTrustLevels}}
  {{#if site.mobileView}}
      <div class="revive-ads-label" style={{adTitleStyleMobile}}><h2>ADVERTISEMENT</h2></div>
      <div class="revive-ads-content" style={{adWrapperStyleMobile}}>
          <!--/*
            *
            * Revive Adserver Asynchronous JS Tag
            * - Generated with Revive Adserver v3.2.4
            *
            */-->

          <ins data-revive-zoneid="11" data-revive-id="e7c88f2181ffd60e8bf95b1b0d3813d4"></ins>
          <script async src="{{publisher_url}}"></script>
      </div>
  {{else}}
      <div class="revive-ads-label"><h2>ADVERTISEMENT</h2></div>
      <div class="revive-ads-content" style={{adWrapperStyle}}>
          <!--/*
            *
            * Revive Adserver Asynchronous JS Tag
            * - Generated with Revive Adserver v3.2.4
            *
            */-->

          <ins data-revive-zoneid="11" data-revive-id="e7c88f2181ffd60e8bf95b1b0d3813d4"></ins>
          <script async src="{{publisher_url}}"></script>
      </div>
  {{/if}}
{{/if}}
